
.containerAbautMe{
    background-color:white;
    height:670px;
    padding: 90px 0px 30px 30px;
}

#titleAbautMe{
    
    color: #FA5711;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 47px;
    align-items: center;
    letter-spacing: 3px;
    margin-top: 0px;
    margin-left: 50px;
    margin: 0px;
    margin-right: 350px;
}

#textAbautMe{
    font-family: 'Niramit', sans-serif;
    width: 75%;
    text-align: justify;
    font-size: 20px;
    font-weight: 500;
    color: #111111;
}

.container{
    display: flex;
}

.profile{
    width: 350px;
    height: 300px;
    border-radius: 10px;
    margin-left: 130px;
    margin-top: 0px;
    border: solid 2px #D4D4D4;
    border-radius: 10px;
    position: relative;

}

#containerTitleText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.titleAbautMePhone{
    display: none;
}
.containerImg{
    width: 350px;
    height: 300px;
    position: absolute;
    justify-content: center;
    margin-left: 170px;
    margin-top: 35px;
    border: 2px #fa5711 solid;
    border-radius: 10px;
}
.row{
    margin-top: 50px
}
@media screen and (min-width:992px) and (max-width:1200px){
    .containerAbautMe{
        height: 600px;
        padding: 30px;
        /* width: 1200px; */
    }
    
    #titleAbautMe{
        font-size: 26px;
        line-height: 47px;
        align-items: center;
        letter-spacing: 3px;
        margin-top: 0px;
        margin-left: 50px;
        margin: 0px;
        margin-right: 350px;
        width:180px
    }
    
    #textAbautMe{
        width: 95%;
        font-size: 20px;
        font-weight: 500;
        
        
    }
    
    .profile{
        margin-left: 0px;
        margin-top: 0px;
    }

    .containerImg{
        margin-left: 30px;
        margin-top: 35px;
       
    }

}

@media screen and (min-width:609px) and (max-width:991px){
    .containerAbautMe{
        height: 450px;
        padding: 30px;
        
    }
    
    #titleAbautMe{
        font-size: 24px;
        align-items: center;
        margin-top: 0px;
        margin-left: 50px;
        margin: 0px;
        margin-right: 350px;
        width: 180px;
    }
    
    #textAbautMe{ 
        width: 90%;
        text-align: justify;
        font-size: 14px;
        margin-top:2px;
        
    }
    
    .profile{
        width: 220px;
        height: 220px;  
        margin-left: 20px;
      
    }

    .containerImg{
        width: 220px;
        height: 220px;
        margin-left: 50px;
        margin-top: 35px;
    }
    
}

@media screen and (min-width:300px) and (max-width:608px){
    .containerAbautMe {
        height: 950px;
        padding: 0px;
        width: 670px;
    }
    
    #titleAbautMe{
        display: none;
    }
    
    #textAbautMe{
        width: 100%;
        text-align: justify;
        font-size: 20px;
        align-items: center;
        
       
    }
    .containerImg{
      margin-left: 140px;
    }
    
    .container{
        display: flex;
    }
    
    .profile{
        width: 320px;
        height: 300px;
        border-radius: 30px;
        margin-left: 130px;
    }
    
    #containerTitleText{
        width: 500px;
        justify-content: center;
        margin-left: 85px;
        margin-top: 70px
    
    }
    #containerResponsivePhone{
      margin-top: 10px;
    }
    .titleAbautMePhone {
      display: block;
      color: #FA5711;
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 26px;
      line-height: 47px;
      align-items: center;
      text-align: center;
      letter-spacing: 0.20em;
      margin-top: 0px;
      position: inherit;
      padding-top: 60px;
      padding-bottom: 0px;
      margin-bottom: 0px;
}
}