.skillsContainer{
    height: 730px;
    background-color: white;
}

.skillsTitle{
    color:#fa5711;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 47px;
    align-items: center;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 0px;
    padding: 95px 40px 0px 40px;
}


.git {
    width: 70px;
    height: 70px;
    margin: 60px 40px 20px 40px;
}


.materialize{
  width: 70px;
  height: 50px;
  margin: 70px 40px 30px 40px;
}  
.git:hover ,.materialize:hover
    {
      -webkit-transform:scale(1.25);
      -moz-transform:scale(1.25);
      -ms-transform:scale(1.25);
      -o-transform:scale(1.25);
      transform:scale(1.25);
    }  

.containeLogos{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
}

.parrafo{
    font-family: 'Niramit', sans-serif;
    align-items: center;
    text-align: center;
    margin: 0px;
    color: #111111;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
}


@media screen and (min-width:992px) and (max-width:1200px){
    .skillsContainer{
        height: 1000px;
        
    }
    
    .skillsTitle{
        font-size: 30px;
        margin-top: 0px;
        padding:80px 40px 0px 40px;
    }
    
    
    .git{
        width: 120px;
        height: 120px;
        margin:30px 30px 10px 30px;
    }
    
    
    .parrafo{
        align-items: center;
        text-align: center;
        margin: 0px;
        color: #FA5711;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 2px;
    }

    .containeLogos{
        width: 85%;
        padding-top: 40px;
       
    }
    

}


@media screen and (min-width:609px) and (max-width:991px){
    .skillsContainer{
        height: 700px;
    }
    
    .skillsTitle{
        font-size: 26px;
        margin-top: 0px;
        padding: 80px 40px 0px 40px
    }
    
    
    .parrafo{
        margin: 0px;
        font-size: 14px;
        
       
    }

    .container1{
        margin:0px
    }

    .containeLogos{
        width: 95%;
    }

    .containeLogos{
      margin-top: 10px;
    }

}

@media screen and (min-width:300px) and (max-width:608px){
    .skillsContainer{
        height: 1065px;
        width: 672px;
    }
    
    .skillsTitle{
        font-size: 30px;
        letter-spacing: 3px;
        margin-top: 0px;
        padding:90px 40px 0px 40px;
    }
    
    
    /* .git{
        width: 60px;
        height: 60px;
        margin: 30px 30px 0px 30px;
    }
    
    .materialize{
      width: 60px;
      height: 40px;
      margin: 43px 20px 10px 20px; 

    } */
    .parrafo{
        
        font-size: 22px;
        font-weight: 600;
        
    }
    
    .containeLogos {
        width: 500px;
        margin-right: auto;
        margin-left: auto;
    }

    
    
}
    